.searchBar {
    input[type=text] {
        // margin-top: 200px;
        width: 100%;
        font-size: 15px;
        border-radius: 4px;
    }
    
    .div {
        margin-right: 9rem;
    }
}

html {
    background-color: white;
}