.postContainer {
  margin-bottom: 5px;

  .user {
    display: flex;
    align-items: center;

    .profileImg {
      border-radius: 100px;
      width: 30px;
      margin-right: 10px;
    }

    .username {
      font-weight: bolder;
    }
  }

  .icons {
      font-size: 30px;
      cursor: pointer;
      padding: 0;
  }

  .likes {
    font-weight: bolder;
  }

  .time {
    color: grey;
    font-size: 10px;
  }
}
